/node_modules
frontend/node_modules

frontend/.env
backend/app/__pycache__
backend/app/routers/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/app/utils/__pycache__
backend/app/agents/__pycache__
backend/storage

backend/.env